html,body {
    background-color: #FFE9D0;
    margin: 0;
    padding: 0;
}

p,h2 {
    font-family: "Itim", cursive;
}

.TH {
    font-family: "Mitr", sans-serif;
    font-size: 17px;
}

.top-header {
    background-color: #B1AFFF;
}

.homepage {
    color: white;
    padding: 10px;
    display: inline-block;
}

.other {
    font-family: "Itim", cursive;
    color: white;
    position: relative;
    left: 30px;
    padding: 10px;
    text-decoration: none;
}

.name {
    font-size: 20px;
    font-family: "Itim", cursive;
    margin: 10px;
}

.main-content {
    max-width: 700px;
    margin: auto;
}

.background-box {
    padding: 10px;
    margin: 20px;
    background-color: #FFFED3;
    width: 700px;
}

.box {
    background-color: #FFFED3;
    padding: 10px;
    margin: 20px;
    width: 630px;
}

.vlog {
    width: 600px;
    padding: 20px;
}

.big {
    background-color: #FFFED3;
    padding: 10px;
    margin: 20px;
    display: flex;
}

.box2 {
    background-color: #FFFED3;
    padding: 20px;
    width: 270px;
}

.vdo,.mypic {
    padding: 10px;
    width: 250px;
    height: 370px;
}

.bottom-footer {
    background-color: #B1AFFF;
    padding: 20px;
    text-align: center;
    color: white;
}

.IG {
    font-size: 18px;
    font-family: "Itim", cursive;
    color: white;
    text-decoration: none;
}
.igpic {
    width: 15px;
}
